.playlist-section {
	background-color: black;
	height: 35vw;
	/* display: flex;
	justify-content: center; */
}
.playlist-text-container {
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 2px;
	/* margin: 20px 0 0px 0; */
	color: #fff;
	text-align: center;
	line-height: 46px;
	margin-top: 3pc;
}
/* .playlist-paragrapgh {
	margin-top: 100px;
	font-family: 'Raleway', sans-serif;
} */
